<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.chrislane.ib-daily.send</string>

    <key>ProgramArguments</key>
    <array>
        <string>__REPO__/.venv/bin/python</string>
        <string>-m</string>
        <string>src.send_question</string>
    </array>

    <key>WorkingDirectory</key>
    <string>__REPO__</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PYTHONUNBUFFERED</key>
        <string>1</string>
    </dict>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>10</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>

    <key>StandardOutPath</key>
    <string>__REPO__/data/logs/send.out</string>
    <key>StandardErrorPath</key>
    <string>__REPO__/data/logs/send.err</string>
</dict>
</plist>
